_old/
.idea/
.pytest_cache

Pipfile.lock

*.tfstate/

.terragrunt-cache/
.terraform/

account.tfvars


test_call.py

tests/aws_availability_zones.json

ap-northeast-1
environment.tfvars
terraform.tfvars
